/*
Theme Name: Raphael Araújo - IN Junior
Author: Raphael Araújo
Author URI: www.araujowebdev.com
Description: WordPress Theme made in the IN Junior Training Program
Version: 1
*/

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    color: #fff;
}

header, footer {
    height: 70px;
    background-color: #0066cc;
}

main {
    background-color: #333;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;text-decoration: underline;
}

#menu-navegacao {
    display: flex;
    gap: 10px;
}

.current_page_item a {
    color: white;
}